.slide-top{
  background-color: #eeedeb;
  width: 100% auto;
  height: 400px;
  margin-top: 77px;
  padding: 0px;
}
.text-slide{
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  color: $primary;
}