.slide-home{
  width: 100%;
  height: 620px;
  background-color: $white;
  background-image: url("../../static/image/banner-home.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.text-slide{
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  color: $primary;
}

.slide-home-text {
  position: absolute;
  right: 15%;
  top: 30%;
  left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}
.text-slide-home{
  font-family: 'Poppins', sans-serif;
  font-size:  38px;
  font-weight: 700;
  color: $light;
  text-shadow: black 0.1em 0.1em 0.3em;
}
.info-home{
  display: block;
  width: 200px;
  height: 100%;
  float: left;
}
.waves{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.slide-home-ecommerce{
  width: 100%;
  height: 620px;
  background-color: $white;
  background-image: url("../../static/image/banner-ecommerce.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.slide-home-boleto{
  width: 100%;
  height: 620px;
  background-color: $white;
  background-image: url("../../static/image/banner-boleto.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.slide-home-conta{
  width: 100%;
  height: 620px;
  background-color: $white;
  background-image: url("../../static/image/banner-conta.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.slide-home-contato{
  width: 100%;
  height: 620px;
  background-color: $white;
  background-image: url("../../static/image/banner-contato.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.slide-home-imprensa{
  width: 100%;
  height: 620px;
  background-color: $white;
  background-image: url("../../static/image/banner-blog.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}