.carousel {
    vertical-align: middle;
    width: 100%;
}
.contadigital{
    background-image: url("static/image/background-slide.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
}